@model Checkpoint2.Models.Campeonato

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Campeonato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCamp" class="control-label"></label>
                <input asp-for="NomeCamp" class="form-control" />
                <span asp-validation-for="NomeCamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaisCamp" class="control-label"></label>
                <input asp-for="PaisCamp" class="form-control" />
                <span asp-validation-for="PaisCamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InicioCamp" class="control-label"></label>
                <input asp-for="InicioCamp" class="form-control" />
                <span asp-validation-for="InicioCamp" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <input is-submit-button />
                </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
