@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SEJA BEM VINDO</h1>
    <p>REGISTRE SEUS JOGADORES, TIMES E CAMPEONATOS NAS ABAS ACIMA</p>
    <div class="d-flex justify-content-center align-items-center" style="height: 400px;">
        <img src="https://inteligenciafinanceira.com.br/wp-content/uploads/2021/12/IF-Futebol.png" class="img-fluid max-img" alt="Imagem Responsiva" />
    </div>
</div>

<style>
    .max-img {
        max-width: 100%; /* Define a largura máxima da imagem */
        max-height: 100%; /* Define a altura máxima da imagem */
    }
</style>




