@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SEJA BEM VINDO</h1>
    <p>REGISTRE SEUS JOGADORES, TIMES E CAMPEONATOS NAS ABAS ACIMA</p>
    <figure style="align-items:center;background:fixed">
        <img src="https://inteligenciafinanceira.com.br/wp-content/uploads/2021/12/IF-Futebol.png" height="400" width="1000" />
    </figure>
</div>
